* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.icon {
    width: 40px;
    height: 40px;
    background: #F3FBF8;
    border-radius: 50%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background: #09A66D;
    border-radius: 8px;
    border: none;
    padding: 10px 23px;
    font-family: 'DM Sans';
    color: #FFFFFF;
    cursor: pointer;
}