* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 1240px;
    margin: 0 auto;
    position: relative;
}

.btn {
    background: #09A66D;
    border-radius: 8px;
    border: none;
    padding: 10px 23px;
    font-family: 'DM Sans';
    color: #FFFFFF;
    cursor: pointer;
}

/* main__header */

.main__header {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item {
    padding-right: 40px;
}

.nav__item:last-child {
    padding-right: 0;
}

.nav__link {
    font-family: 'DM Sans';
    color: #222222;
}

.nav__right {
    display: flex;
    align-items: center;
}

.nav__icon {
    width: 40px;
    height: 40px;
    background: #F3FBF8;
    border-radius: 50%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

/* promo */

.promo {
    margin-top: 43px;
    min-height: 850px;
    background: #F3FBF8;
}

.promo__content {
    padding-top: 93px;
    position: relative;
}

.title {
    font-family: 'Rosario';
    font-weight: 700;
    font-size: 70px;
    color: #222222;
}

.promo__title {
    text-align: center;
    margin-bottom: 20px;
}

.text {
    font-family: 'DM Sans';
    color: #555555;
}

.promo__text {
    text-align: center;
}

.btn__order {
    margin-top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.btn__now {
    display: flex;
    align-items: center;
    position: absolute;
}

.btn__now-text {
    font-weight: 500;
    text-align: center;
    color: #222222;
    margin-right: 20px;
}

.btn__now-link {
    width: 64px;
    height: 64px;
    background: #09A66D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo__decoration-img {
    position: absolute;
    z-index: 0;
}

.img-1 {
    top: -35px;
    left: -100px;
}

.img-2 {
    bottom: -550px;
}

.achievements__list {
    position: absolute;
    right: 0;
    top: 370px;
}

.achievements__item {
    width: 250px;
    height: 116px;
    background: #FFFFFF;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.achievements__icon-wrapper,
.advantages__icon-wrapper {
    width: 56px;
    height: 56px;
    background: #F3FBF8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.achievements__content-title {
    font-family: 'DM Sans';
    font-size: 48px;
    color: #000000;
    text-align: center;
}

.achievements__content-text {
    font-family: 'DM Sans';
    font-size: 18px;
    color: #000000;
    text-align: center;
}

/* advantages */

.advantages__content {
    margin-top: 140px;
    position: relative;
    margin-bottom: 140px;
}

.advantages__title {
    margin-bottom: 20px;
}

.advantages__text {
    margin-bottom: 56px;
}

.advantages__icon-wrapper {
    width: 80px;
    height: 80px;
}

.advantages_bg-img {
    position: absolute;
}

.img__line {
    z-index: -1;
    top: -170px;
    right: 0;
}

.advantages__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 500px;
    height: 160px;
}

.advantages__item-active {
    background: #F3FBF8;
}

.advantages_icon-active {
    background: #FFFFFF;
}

.advantages__content-title {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 20px;
    color: #222222;
    margin-bottom: 8px;
}

.advantages__content-text {
    font-size: 14px;
}

.advantages__btn_down {
    position: relative;
    left: 240px;
}

.img__delivery {
    right: 0;
    top: 200px;
}

/* special items */

.special__items {
    background: #F3FBF8;
    min-height: 832px;
    position: relative;
}

.special__items-content {
    position: absolute;
    padding-top: 120px;
    right: 0;
}

.special__items-img {
    position: absolute;
    top: 80px;
}

.special__items-title {
    margin-bottom: 20px;
}

.special__items-text {
    margin-bottom: 82px;
}

.special__items-decoration {
    position: absolute;
    z-index: 0;
    right: -200px;
    top: 400px;
}

/* our customers */

.our__customers-content {
    padding-top: 96px;
    position: relative;
}

.our__customers-title {
    margin-bottom: 30px;
}

.our__customers-text {
    margin-bottom: 40px;
}

.customer__name {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 30px;
    color: #222222;
    margin-bottom: 20px;
}

.our__customers-control {
    display: flex;
    position: relative;
    left: 320px;
    top: -40px;
}

.arrow__control {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
}

.arrow__control-left {
    border: 1px solid #CCCCCC;
}

.arrow__control-right {
    background: #09A66D;
}

.overall__rating {
    width: 220px;
    height: 80px;
    padding: 11px 21px;
    background: #FFFFFF;
    box-shadow: -15px 15px 25px rgba(0, 96, 60, 0.04);
    border-radius: 12px;
}

.customers__list {
    display: flex;
}

.customers__item {
    margin-left: -10px;
}

.customers__item:first-child {
    margin-left: 0;
}

.add__btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3FBF8;
}

.our__customers-img {
    position: absolute;
    top: 100px;
    right: 0;
}

.overall__rating {
    position: absolute;
    right: 270px;
    top: 505px;
    z-index: 1;
}

/* app content */

.app {
    margin-top: 156px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn__download-app {
    background: #F3FBF8;
    border-radius: 50px;
    font-family: 'DM Sans';
    padding: 11px 24px;
    color: #333333;
    margin-bottom: 27px;
    display: inline-block;
}

.app-title {
    margin-bottom: 20px;
}

.app-text {
    margin-bottom: 50px;
}

.app__stores-item {
    margin-right: 24px;
}