* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 1240px;
}

.icon {
    width: 40px;
    height: 40px;
    background: #F3FBF8;
    border-radius: 50%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}